body {
  overflow-x: hidden;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
i {
  content: "\e236";
}
nav {
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
  background-color: transparent;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: .5rem 1rem;
  background-color: #212529;
}
.container {
  display: flex;

  flex-wrap: nowrap;

  align-items: center;

  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bootstrap {
  font-size: 1.75em;
  transition: all 0.3s;
  color: #fed136;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;

  line-height: inherit;
  white-space: nowrap;
}
a {
  text-decoration: none;
  background-color: transparent;
}
.toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #fed136;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}


.hidden {
  display:hidden;
}
.hidden-close {
  display: flex !important;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
  animation: closeHidden 1s linear;
}
.hidden-open {
  display: flex !important;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
  animation: openHidden 1s linear;
}

@keyframes openHidden {
  from {
    display: flex !important;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
  }
  to {
    display: flex !important;
    flex-basis: auto;
    align-items: center;
    flex-grow: 1;
  }
}
@keyframes closeHidden {
  from {
    display: flex !important;
    flex-basis: auto;
    align-items: center;
    flex-grow: 1;
  }
  to {
    display: flex !important;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
  }
}
ul {
  text-transform: uppercase !important;
  margin-left: auto !important;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  text-transform: uppercase !important;
  box-sizing: border-box;
  list-style: none;
}
.nav-link {
  padding: 1.1em 1em !important;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
  /* color: #fff; */
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@media (max-width: 989px) {
  div.hidden > ul > li {
    display: none;
  }
  .togglebutton {
    display: block;
  }
  div.hidden > ul:nth-child(1) {
    display: block;
  }
}

header {
  text-align: center;
  color: #fff;
  background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.headerContainer {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
  text-align: center;
  color: #fff;
}
.welcome {
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
  font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.nice {
  text-transform: uppercase!important;
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.tellme {
  text-align: center;
    vertical-align: middle;
  display: inline-block;
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  font-size: 18px;
    padding: 20px 40px;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase!important;
}